# Pour ignorer les fichiers de configuration contenant des mots de passe
.env
config.php

# Pour ignorer les dossiers de dépendances lourds 
/vendor/

# Pour ignorer les logs d'erreurs
*.log

# Pour ignorer les fichiers systèmes
.DS_Store
Thumbs.db